*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
   

}

.menu-container{
    display: flex;
    font-size: 1.8rem;

    background-color: aqua;
    
}

.google-menu{
    display:flex;
    position:absolute;
    left:0;
  
}

.user-menu{
    display: flex;
    position:absolute;
    right: 0;
    

}


.menu-container__item {
    height: 50px;
    line-height: 50px;
    color:gray;
    font-size: 1.4rem;
    font-weight:600;
    text-transform: uppercase;
    text-align: center;
    min-width: 60px;
    
}



.menu-container__item.menu{
    width: 40px;
    text-align: center;
    font-size: 1.8rem;
    

}

.menu-container__item.profile{
    flex-direction: row;
    justify-content: center;
    width:60px;    
}

.profile.item-profile__avatar{
    border-radius: 50%;
    background-color: orange;
    width:40px;
    height:40px;
    line-height: 40px;
    color:white;
    font-weight: 500;
    margin: 10px auto;
    text-align: center;
  
}

.menu-container__item.active{
    border-bottom: 2px solid cornflowerblue;
    color:cornflowerblue ;
}

.engine-container{
    display:flex;
    flex-direction: column;
    margin: 200px auto;
  
    text-align: center;
    font-size: 1.6rem;

   
}

.logo-container{
    width: 100vw;
}
.logo{
    width:50vw;
    max-width: 360px;
}

.search-container{
    border: 2px lightgray solid;
    border-radius: 10px;
    width:80vw;
    height: 5vh;
    margin:10px auto;
    line-height: 5vh;
    text-align: left;
    padding: 0 10px;
    color: lightgray;
    max-width: 860px;
  
}

input[type=text].search-box{
    border:0px;
    height: 4vh;
}

input[type=text].search-box:focus{
    outline: none;
    color:gray;
    font-size: 1.8rem;
}

.buttons-container{
    width:80vw;
    margin: 0 auto;
    display:flex;
    justify-content: center;
  
}

.button{
    width: 40vw;
    height: 5vh;
    line-height: 5vh;
    background-color: lightgray;
    margin: 0 10px;
    border-radius: 10px;
    color:black;
    max-width: 250px;
}

.button:hover{
    background-color: cornflowerblue;
}

/* footer{

    bottom:0;
    padding: 10px;
    font-size: 1.6rem;
}

.sub-footer__menu{
    display:flex;
    list-style: none;
    flex-direction: row wrap;
}

.sub-footer__item{
    width: 50%;
} */
